<section id="s-█████" class="section s-█████">
	<div class="section__inner s-█████__inner">
		<div class="container">
			<div class="s-█████__content █offer █offer--align-center">

				<div class="offer__healine s-structure__headline">
					<h2 class="s-structure__title offer__title">Заголовок секции</h2>
					<div class="s-structure__description offer__description">
						<p>Подзаголовок Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, quam.</p>
					</div>
				</div>

				<div class="offer__content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aliquid fuga alias ducimus, quam optio reiciendis temporibus explicabo. Veritatis placeat porro non eveniet eos voluptas voluptatum quas nam quisquam reiciendis.</p>
				</div>

			</div>
		</div>
	</div>
</section>